<!DOCTYPE html>
<html>
<head>
  <title>Recommendation</title>
</head>
<body>
  <h1>Recommendation</h1>
  
  <% if (movies && movies.length > 0) { %>
    <h2>Search Results:</h2>
    <ul>
      <% movies.forEach((movie) => { %>
        <li>
          <strong>Image:</strong> <%= movie.image %><br>
          <strong>Title:</strong> <%= movie.title %><br>
          <strong>Director:</strong> <%= movie.director %><br>
          <strong>Actors:</strong> <%= movie.actors %><br>
          <strong>Genre:</strong> <%= movie.genre %><br>
          <strong>Length:</strong> <%= movie.length %><br>
          <strong>Description:</strong> <%= movie.description %><br>
          
        </li>
        
        <a href="/update-movie">Update Movie</a>
      <% }); %>
    </ul>
  <% } else if (movies && movies.length === 0) { %>
    <p>No movies found.</p>
  <% } %>
  
  <% if (errorMessage) { %>
    <p><%= errorMessage %></p>
  <% } %>
</body>
</html>
