<!DOCTYPE html>
<html>
<head>
  <title>Recommendation</title>
</head>
<body>
  <div class="search-wrapper">
  <h1>Recommendation</h1>
  
  <% if (movies && movies.length > 0) { %>

  
    <div class="post-grid">
      <% movies.forEach((movie) => { %>
        <div class="post-card"> 
      
        <div class="image-box">
          <img src=<%= movie.image %> alt="image"><br>
        </div>
        <div class="post-details">
          <h3><%= movie.title %><br></h3>
          <strong class="card-text-white">Director:</strong> <p class="card-text"><%= movie.director %></p><br>
          <strong class="card-text-white">Actors:</strong> <p class="card-text"><%= movie.actors %></p><br>
          <strong class="card-text-white">Genre:</strong> <p class="card-text"><%= movie.genre %></p><br>
          <strong class="card-text-white">Length:</strong> <p class="card-text"><%= movie.length %></p><br>
          <strong class="card-text-white">Description:</strong> <p class="card-text"><%= movie.description %></p><br>
      
        
        
        <a href="/update-movie/<%= movie._id  %>" class="card-text-link">Update Movie</a>
      </div>
    </div>
        
      <% }); %>
    </div>

  <% } else if (movies && movies.length === 0) { %>
    <p>No movies found.</p>
  <% } %>
  
  <% if (errorMessage) { %>
    <p><%= errorMessage %></p>
  <% } %>
  </div>
</body>
</html>
