<!DOCTYPE html>
<html>
<head>
  <title>Update Movie</title>
</head>
<body>
  <%- include('navbar'), {currentUser}%>
  <%= movie.title %>
  <h1>Update Movie</h1>
 
  <form action="/update-movie/<%= movie._id %>" method="POST">
  
    
    <input type="text" name="title" value=<%= movie.title %> ><br>
    <input type="text" name="director" value=<%= movie.director %> ><br>
    <input type="text" name="actors" value=<%= movie.actors.join('') %>><br>
    <input type="text" name="genre" value=<%= movie.genre %>><br>
    <input type="number" name="length" value=<%= movie.length %>><br>
    <textarea name="description"><%= movie.description %></textarea>
  
    <button type="submit">Update Movie</button>

</form>
  
  <a href="/search"><button>Back to Search</button></a>
</body>
</html>

