<!DOCTYPE html>
<html>
<head>
  <title>Update Movie</title>
</head>
<body>
  <%- include('navbar'), {currentUser}%>
  <h2><<%= movie.title %><h2>

  <div class="search-wrapper">
  <h1><span class="red">Update</span> Movie</h1>
 
  <form action="/update-movie/<%= movie._id %>" method="POST">
  <div class="btn-frame">
    <div class="flex-input">
    <input class="input" type="text" name="title" value=<%= movie.title %> ><br>
    </div>

    <div class="flex-input">
    <input class="input" type="text" name="director" value=<%= movie.director %> ><br>
    </div>

    <div class="flex-input">
    <input class="input" type="text" name="actors" value=<%= movie.actors.join('') %>><br>
    </div>

    <div class="flex-input">
    <input class="input" type="text" name="genre" value=<%= movie.genre %>><br>
    </div>

    <div class="flex-input">
    <input class="input" type="number" name="length" value=<%= movie.length %>><br>
    </div>

    <div class="flex-input">
    <textarea class="textarea" name="description"><%= movie.description %></textarea>
    </div>
  </div>

  <div class="flex-input-btn">
    <button class="btn-one" type="submit" style="color: white; font-weight: bold; font-size:  1.3rem;">Update Movie</button>
  </div>

</form>
</div> 
</body>
</html>

